[Unit]
Description=Read SolarEdge Inverter
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/opt/read_solaredge.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
